In [52]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

## ch03. 데이터구조

리스트[80,"20"], 튜플(90,20), 딕셔너리{"name":"홍","score":50}, 셋{10,20}
1절 리스트
1.1 리스트 만들기
[]를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
list()함수 이용도 가능
인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
슬라이싱([from:to:step]) : 부분 데이터셋 추출
인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [4]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
fruits[0]

'banana'

In [6]:
from datetime import datetime, date, time
print(fruits) 
fruits[0]

['banana', 'apple', 'orange', 'grape']

'banana'

In [9]:
print(fruits[0]) #인덱싱을 이용한 읽기
print(fruits[3]) #인덱싱을 이용한 읽기
#print(fruits[4]) #에러

banana
grape

In [10]:
fruits[0] = 'mango'#인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [47]:
fruits = ['mango','apple','orange']
# x,y,z = 'mango', 'apple','orange'
x,y,z = ['mango', 'apple','orange']

print("x = {}".format(x))
print(fruits,y)

x = mango
['mango', 'apple', 'orange'] apple

In [12]:
# range(from, to, by) : from부터 to까지 to앞 까지 by씩 증가는 나열 가능한 자료
# 숫자를 순자적으로 사용
# from 생략시 0, by생략시 1
# range(10) = { 0,1,2,3,4,5,6,7,8,9}

In [13]:
range(0,10)

range(0, 10)

In [14]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [21]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [28]:
#for i in [0,1,2,3,4,5,6]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [48]:
fruits = ['mango', 'apple', 'orange', 'grape']
#print("{}번째 과일{}".format(0,fruits[0]))
#print("{}번째 과일{}".format(1,fruits[1]))
#print("{}번째 과일{}".format(2,fruits[2]))
for idx in range(len(fruits)):
    print("{}번째 과일{}". format(idx,fruits[idx]))

0번째 과일mango
1번째 과일apple
2번째 과일orange
3번째 과일grape

In [49]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [50]:
for i, fruit in enumerate(fruits): #[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape

In [54]:
for fruit in fruits:
    print(f"{fruit}입니다")

mango입니다
apple입니다
orange입니다
grape입니다

In [58]:
# 리스트는 여러 태입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [67]:
# 2차 리스트
numbers = [1,2,3,4,5]

In [68]:
numbers = [1,2,3,4,5]
numbers_2d= [[1,2,3,4,5], # 0행
            [10,20,30,40,50],# 1행
            [1,3,5,7,9], # 2행
            [2,4,6,8,10]] # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [69]:
#특정행, 특정열
numbers_2d [1][4]

50

In [70]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [76]:
for row in numbers_2d:
    for item in row:
        print (item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [80]:
for i in range(len(numbers_2d)): # i : 행
    for j in range(len(numbers_2d[i])): # j:열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print() # 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [99]:
#len(numbers_2d, len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2]))
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(3, 3, 3, 3)

In [98]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print() # 개행

0행0열 : 100	0행1열 : 0	0행2열 : 1
1행0열 : 9	1행1열 : 100	1행2열 : 100
2행0열 : 59	2행1열 : 100	2행2열 : 130

## 1.2 기본 정보 조회

In [1]:
number = [1,2,3,4,5]
numbers_2d = [[100,0,1],
            [9,100,100],
            [59,100,130]]

In [94]:
# item 수
len(number), len(numbers_2d)

(5, 3)

In [95]:
# 최소값
min(number), min(numbers_2d)

(1, [9, 100, 100])

In [97]:
# 최대값 : 부분 리스트 중 첫요소가 가장 작은값/큰값
max(number), max(numbers_2d)

(5, [100, 0, 1])

In [100]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min, max적용
min(fruits), max(fruits)

('apple', 'orange')

In [108]:
# 정렬하기
numbers =[1,12,3,4,5]
print("오름차순 정렬 : ", sorted(numbers))
print("내림차순 정렬 : ", sorted(numbers,reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("함수 사용시 리스트의 내용이 바뀌지 안음:", numbers)

오름차순 정렬 :  [1, 3, 4, 5, 12]
내림차순 정렬 :  [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
함수 사용시 리스트의 내용이 바뀌지 안음: [1, 12, 3, 4, 5]

## 1.3 요소추가
- + 두 리스트 연결
- * 리트스를곱한 수만큼 반복
- append() : 요소 맨 뒤에 추가
- extend(리스트) : 리슽를 요소별로 맨 뒤에 추가
- insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [3]:
numbers = [1,2,3]
numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [4]:
numbers = [1,2,3]
print(numbers*3) #곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
numbers.append(4) #맨 뒤에 4추가
numbers

[1, 2, 3, 4, 4]

In [10]:
numbers.append([5,6,7])
numbers

[1, 2, 3, 4, 4, [5, 6, 7], [5, 6, 7], [5, 6, 7]]

In [13]:
numbers = [1,2,3] 
numbers.append([4,5,6]) #맨 뒤에 [5, 6, 7]추가
numbers.extend([4,5,6]) #맨 뒤에 요소별로 4, 5, 7추가
numbers

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [14]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [15]:
lst.extend("hello")
lst

['a', 'b', 'c', 'd', 'h', 'e', 'l', 'l', 'o']

In [17]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') #1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 찾을데이터 in list변수 : 찾을데이터가 리스트 변수의 요소인지 여부
- count(찾을데이터) : 리스트에서 해당 찾을 데이터의 갯수 반환

In [25]:
numbers = [1,2,3,4,5,[1,2,3]]
numbers.count(2), numbers.count([1,2,3])

(1, 1)

In [24]:
numbers.count(5)

1

In [23]:
print(2 in numbers) #2 numbers의 요소인지 여부
print(5 in numbers)

True
True

In [26]:
numbers.index(5)

4

In [29]:
if 22 in numbers:
    print(numbers.index(5))
else:
    print("22가 요소에 포함되지 않습니다.")

5가 요소에 포함되지 않습니다.

In [6]:
from lst import safe_index #lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1,2,3,4,5]
safe_index(numbers,2), safe_index(numbers,5)

(1, 4)

## 1.5 원하는 요소들 추출
1. 리스트 슬라이싱
    - [from:to:step] from번째 부터 to앞 까지 step씩 증가하는 index값을 추출
      from 생략시 처음, to 생략시 끝, step 1 
    - 인덱스의 범위를 벗어난 값도 에러 나지 않음
    - 인덱스는 음수 가능
2.<font color ="red">"**리스트컴프리헨션**</font> : 원하는 조건의 데이터 추출

In [9]:
numbers= [1,2,3,4,5,6,7,8,9,10,12,13]
print(numbers[::-1])
print(numbers[0::2]) 
print(numbers[2::100])

[13, 12, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9, 12]
[3]

In [38]:
# 모든 데이터 추출
numbers = [1, 3, 5, 9, 10,12, 13, 18, 19, 20]
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [37]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

[0, 0, 0, 0, 0]

In [24]:
# ex1. numbers에서 10 이상인 요소만 추출
data for data in numbers if data>=10

SyntaxError: invalid syntax (4115041253.py, line 2)

In [36]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [35]:
# ex2-1 fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [34]:
# ex3. 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [27]:
# ex4. 리스트(L) 요소의 값의 2배를 추출
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소수정 하기

In [28]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
numbers

[1, 2, 222, 4, 5, 6, 7, 8, 9]

In [30]:
# 슬라이싱(step부분 미포함)
numbers[0:2]= ['xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 4, 5, 6, 7, 8, 9]

In [33]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove()

In [44]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제 후 numbers :", numbers)
print("데이터 1 삭제 후 numbers :", numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제 후 numbers : [1, 3, 4]
del numbers[1]
[1, 4]

In [46]:
numbers.clear()
numbers

[]

## 1.8 정렬하기

In [49]:
numbers = [9, 5, 0, 8, 6]
print("numbers는 변경하지 않고, 정렬결과 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고 정렬결과 :  [0, 5, 6, 8, 9]
numbers :  [9, 5, 0, 8, 6]

In [50]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 바꿈
numbers
numbers.sort(reverse=True)
numbers

[9, 8, 6, 5, 0]

In [51]:
numbers.reverse() # 리스트를 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [59]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")

원본i = 10, 복사본cp_i=10 / 원본주소=2131482968592, 복사본주소=2131482968592
원본i = 10, 복사본cp_i=99 / 원본주소=2131482968592, 복사본주소=2131482971440

In [60]:
# 데이터 구조의 할당

In [63]:
numbers = [5,6,1,9]
new_number = numbers.copy() # numbers를 복제(깊은 복사)
#new_number = numbers
print(id(numbers), id(new_number))

2131592165312 2131592165312

In [66]:
numbers = [5,6,1,9]
new_number = numbers.copy()
print(id(numbers), id(new_number))
print("원본 :", numbers)
print("복제본 :", new_number)
print("원본 주소:", id(numbers))
print("복제본 주소:", id(new_number))

2131598655040 2131598882880
원본 : [5, 6, 1, 9]
복제본 : [5, 6, 1, 9]
원본 주소: 2131598655040
복제본 주소: 2131598882880

In [68]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [69]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절 튜플
 - 리스트([])와 유사하지만 읽기 전용. 수정이 필요없는 데이터에서 사요
 - 수정이 불가하므로 튜플에서 데이터 수정, 추가, 삭제 불가
 - 제공되는 함수도 많지 않음
 - () 이용함

In [70]:
city = ('서울','대전','대구','부산','하남','수원','제주')
#여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울','대전','대구','부산','하남','수원','제주'
print(type(city))

print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남', '수원', '제주')

In [72]:
#메개변수로 List가 오는 함수는 tuple 매개변수로 함수 사용
",".join(city)

'서울,대전,대구,부산,하남,수원,제주'

In [76]:
from lst import safe_index
safe_index

In [73]:
l = ['서울']
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [74]:
city = ('서울', '하남')
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울', '하남')
2

In [75]:
city = ('서울', ) # 요소가 하나 있는 튜플
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [77]:
numbers = (1, 2, 3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [78]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [79]:
numbers.count(2)

1

In [80]:
numbers.index(3)

2

In [81]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [86]:
safe_index(numbers, 4)

-1