In [52]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

## ch03. 데이터구조

리스트[80,"20"], 튜플(90,20), 딕셔너리{"name":"홍","score":50}, 셋{10,20}
1절 리스트
1.1 리스트 만들기
[]를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
list()함수 이용도 가능
인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
슬라이싱([from:to:step]) : 부분 데이터셋 추출
인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [4]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
fruits[0]

'banana'

In [6]:
from datetime import datetime, date, time
print(fruits) 
fruits[0]

['banana', 'apple', 'orange', 'grape']

'banana'

In [9]:
print(fruits[0]) #인덱싱을 이용한 읽기
print(fruits[3]) #인덱싱을 이용한 읽기
#print(fruits[4]) #에러

banana
grape

In [10]:
fruits[0] = 'mango'#인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [47]:
fruits = ['mango','apple','orange']
# x,y,z = 'mango', 'apple','orange'
x,y,z = ['mango', 'apple','orange']

print("x = {}".format(x))
print(fruits,y)

x = mango
['mango', 'apple', 'orange'] apple

In [12]:
# range(from, to, by) : from부터 to까지 to앞 까지 by씩 증가는 나열 가능한 자료
# 숫자를 순자적으로 사용
# from 생략시 0, by생략시 1
# range(10) = { 0,1,2,3,4,5,6,7,8,9}

In [13]:
range(0,10)

range(0, 10)

In [14]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [21]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [28]:
#for i in [0,1,2,3,4,5,6]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [48]:
fruits = ['mango', 'apple', 'orange', 'grape']
#print("{}번째 과일{}".format(0,fruits[0]))
#print("{}번째 과일{}".format(1,fruits[1]))
#print("{}번째 과일{}".format(2,fruits[2]))
for idx in range(len(fruits)):
    print("{}번째 과일{}". format(idx,fruits[idx]))

0번째 과일mango
1번째 과일apple
2번째 과일orange
3번째 과일grape

In [49]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [50]:
for i, fruit in enumerate(fruits): #[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape

In [54]:
for fruit in fruits:
    print(f"{fruit}입니다")

mango입니다
apple입니다
orange입니다
grape입니다

In [58]:
# 리스트는 여러 태입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [67]:
# 2차 리스트
numbers = [1,2,3,4,5]

In [68]:
numbers = [1,2,3,4,5]
numbers_2d= [[1,2,3,4,5], # 0행
            [10,20,30,40,50],# 1행
            [1,3,5,7,9], # 2행
            [2,4,6,8,10]] # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [69]:
#특정행, 특정열
numbers_2d [1][4]

50

In [70]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [76]:
for row in numbers_2d:
    for item in row:
        print (item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [80]:
for i in range(len(numbers_2d)): # i : 행
    for j in range(len(numbers_2d[i])): # j:열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print() # 개행

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [99]:
#len(numbers_2d, len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2]))
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(3, 3, 3, 3)

In [98]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end="\t")
    print() # 개행

0행0열 : 100	0행1열 : 0	0행2열 : 1
1행0열 : 9	1행1열 : 100	1행2열 : 100
2행0열 : 59	2행1열 : 100	2행2열 : 130

## 1.2 기본 정보 조회

In [1]:
number = [1,2,3,4,5]
numbers_2d = [[100,0,1],
            [9,100,100],
            [59,100,130]]

In [94]:
# item 수
len(number), len(numbers_2d)

(5, 3)

In [95]:
# 최소값
min(number), min(numbers_2d)

(1, [9, 100, 100])

In [97]:
# 최대값 : 부분 리스트 중 첫요소가 가장 작은값/큰값
max(number), max(numbers_2d)

(5, [100, 0, 1])

In [100]:
# list의 데이터가 문자일 경우 ascii 코드값으로 min, max적용
min(fruits), max(fruits)

('apple', 'orange')

In [108]:
# 정렬하기
numbers =[1,12,3,4,5]
print("오름차순 정렬 : ", sorted(numbers))
print("내림차순 정렬 : ", sorted(numbers,reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("함수 사용시 리스트의 내용이 바뀌지 안음:", numbers)

오름차순 정렬 :  [1, 3, 4, 5, 12]
내림차순 정렬 :  [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
함수 사용시 리스트의 내용이 바뀌지 안음: [1, 12, 3, 4, 5]

## 1.3 요소추가
- + 두 리스트 연결
- * 리트스를곱한 수만큼 반복
- append() : 요소 맨 뒤에 추가
- extend(리스트) : 리슽를 요소별로 맨 뒤에 추가
- insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [3]:
numbers = [1,2,3]
numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [4]:
numbers = [1,2,3]
print(numbers*3) #곱한 수 만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
numbers.append(4) #맨 뒤에 4추가
numbers

[1, 2, 3, 4, 4]

In [10]:
numbers.append([5,6,7])
numbers

[1, 2, 3, 4, 4, [5, 6, 7], [5, 6, 7], [5, 6, 7]]

In [13]:
numbers = [1,2,3] 
numbers.append([4,5,6]) #맨 뒤에 [5, 6, 7]추가
numbers.extend([4,5,6]) #맨 뒤에 요소별로 4, 5, 7추가
numbers

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [14]:
lst = ['a','b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [15]:
lst.extend("hello")
lst

['a', 'b', 'c', 'd', 'h', 'e', 'l', 'l', 'o']

In [17]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx') #1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 찾을데이터 in list변수 : 찾을데이터가 리스트 변수의 요소인지 여부
- count(찾을데이터) : 리스트에서 해당 찾을 데이터의 갯수 반환

In [25]:
numbers = [1,2,3,4,5,[1,2,3]]
numbers.count(2), numbers.count([1,2,3])

(1, 1)

In [24]:
numbers.count(5)

1

In [23]:
print(2 in numbers) #2 numbers의 요소인지 여부
print(5 in numbers)

True
True

In [26]:
numbers.index(5)

4

In [29]:
if 22 in numbers:
    print(numbers.index(5))
else:
    print("22가 요소에 포함되지 않습니다.")

5가 요소에 포함되지 않습니다.

In [6]:
from lst import safe_index #lst.py(모듈)안의 safe_index를 메모리에 load
numbers = [1,2,3,4,5]
safe_index(numbers,2), safe_index(numbers,5)

(1, 4)

## 1.5 원하는 요소들 추출
1. 리스트 슬라이싱
    - [from:to:step] from번째 부터 to앞 까지 step씩 증가하는 index값을 추출
      from 생략시 처음, to 생략시 끝, step 1 
    - 인덱스의 범위를 벗어난 값도 에러 나지 않음
    - 인덱스는 음수 가능
2.<font color ="red">"**리스트컴프리헨션**</font> : 원하는 조건의 데이터 추출

In [8]:
numbers= [1,2,3,4,5,6,7,8,9,10,12,13]
print(numbers[::-1])
print(numbers[0::2]) 
print(numbers[2::100])

[13, 12, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9, 12]
[3]

In [9]:
# 모든 데이터 추출
numbers = [1, 3, 5, 9, 10,12, 13, 18, 19, 20]
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [11]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [10]:
# ex1. numbers에서 10 이상인 요소만 추출
data for data in numbers if data>=10

SyntaxError: invalid syntax (4079551211.py, line 2)

In [36]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [35]:
# ex2-1 fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [34]:
# ex3. 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [27]:
# ex4. 리스트(L) 요소의 값의 2배를 추출
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소수정 하기

In [28]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
numbers

[1, 2, 222, 4, 5, 6, 7, 8, 9]

In [30]:
# 슬라이싱(step부분 미포함)
numbers[0:2]= ['xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 4, 5, 6, 7, 8, 9]

In [33]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove()

In [44]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제 후 numbers :", numbers)
print("데이터 1 삭제 후 numbers :", numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제 후 numbers : [1, 3, 4]
del numbers[1]
[1, 4]

In [46]:
numbers.clear()
numbers

[]

## 1.8 정렬하기

In [49]:
numbers = [9, 5, 0, 8, 6]
print("numbers는 변경하지 않고, 정렬결과 :", sorted(numbers))
print("numbers :", numbers)

numbers는 변경하지 않고 정렬결과 :  [0, 5, 6, 8, 9]
numbers :  [9, 5, 0, 8, 6]

In [50]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 바꿈
numbers
numbers.sort(reverse=True)
numbers

[9, 8, 6, 5, 0]

In [51]:
numbers.reverse() # 리스트를 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [59]:
# 스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")

원본i = 10, 복사본cp_i=10 / 원본주소=2131482968592, 복사본주소=2131482968592
원본i = 10, 복사본cp_i=99 / 원본주소=2131482968592, 복사본주소=2131482971440

In [60]:
# 데이터 구조의 할당

In [63]:
numbers = [5,6,1,9]
new_number = numbers.copy() # numbers를 복제(깊은 복사)
#new_number = numbers
print(id(numbers), id(new_number))

2131592165312 2131592165312

In [66]:
numbers = [5,6,1,9]
new_number = numbers.copy()
print(id(numbers), id(new_number))
print("원본 :", numbers)
print("복제본 :", new_number)
print("원본 주소:", id(numbers))
print("복제본 주소:", id(new_number))

2131598655040 2131598882880
원본 : [5, 6, 1, 9]
복제본 : [5, 6, 1, 9]
원본 주소: 2131598655040
복제본 주소: 2131598882880

In [68]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [69]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절 튜플
 - 리스트([])와 유사하지만 읽기 전용. 수정이 필요없는 데이터에서 사요
 - 수정이 불가하므로 튜플에서 데이터 수정, 추가, 삭제 불가
 - 제공되는 함수도 많지 않음
 - () 이용함,tuple() 함수 사용

In [70]:
city = ('서울','대전','대구','부산','하남','수원','제주')
#여러개의 값이 전달될 때 튜플 타입으로 전달
city = '서울','대전','대구','부산','하남','수원','제주'
print(type(city))

print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남', '수원', '제주')

In [72]:
#메개변수로 List가 오는 함수는 tuple 매개변수로 함수 사용
",".join(city)

'서울,대전,대구,부산,하남,수원,제주'

In [76]:
from lst import safe_index
safe_index

In [73]:
l = ['서울']
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [74]:
city = ('서울', '하남')
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울', '하남')
2

In [75]:
city = ('서울', ) # 요소가 하나 있는 튜플
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [77]:
numbers = (1, 2, 3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [78]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [79]:
numbers.count(2)

1

In [37]:
numbers.index(3)

2

In [81]:
# numbers.index(4)
if 4 in numbers:
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [86]:
safe_index(numbers, 4)

-1

In [40]:
numbers = (1, 2, 3, 2)
#numbers.index(0)
#print(str(numbers.count()))
print(str(numbers.count(2)))
print(str(numbers.index(2)))
if 4 in numbers:
    numbers.index(2)
else:
    print('해당 데이터 없음')

2
1
해당 데이터 없음

In [64]:
city = ('서울', ) # 요소가 하나 있는 튜플
#city = ('서울' ) # 요소가 하나 있는 튜플
print(type(city))
print(len(city))

<class 'tuple'>
1

In [50]:
numbers = [1,2,3] 
numbers.append([4,5,6]) #맨 뒤에 [5, 6, 7]추가
#numbers.extend([4,5,6]) #맨 뒤에 요소별로 4, 5, 7추가
numbers

[1, 2, 3, [4, 5, 6]]

In [51]:
print(len(numbers))

4

In [56]:
#min(numbers)
#max(numbers)
#sum(numbers)

In [62]:
#score = 99(스칼라 데이터)
lst = [99,88,77,100,89] #리스트 컨플리헨션
tup = (99,88,77,100,89)
dic = {'name':'홍길동','score':100,'add':'서울','학년':3}
set = {90,80,70}

In [66]:
numbers = (1,2,3,2)
numbers.index(2,2) #index (찾을데이터, 찾기시작index=0)
if 4 in numbers[2:]:

3

In [75]:
def safe_index(lst, item, start=0):
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환
    첫번째 매개변수 lst: 리스트, 튜플
    두번째 매개변수 item :  리스트, 튜플에서 찾을 데이터
    세번째 매개변수 start :  몇번재 index부터 찾을지 index 수(기본값:0)
    """
    return lst.index(item, start) if item in lst[start:] else -1
#     if item in lst:
#         return lst.index(item, start) #start번재 item이 있는 index를 반환
#     else:
#         return -1

3

In [81]:
safe_index(numbers,2,2)
# 위의 if문을 이용해 한줄코드
# if x>y else y-x #값 if 조건 else if문이 거짓일때 값
#   if x>y:
#        return x-y
#   ese:
#      retun y-x
#diff(30,20)

3

In [84]:
#ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11,2,3,4,5,6)
[num**2 for num in numbers if num%2==0]

[4, 16, 36]

In [85]:
{'name':'홍길동',
'score':100,
'학년':3}

{'name': '홍길동', 'score': 100, '학년': 3}

# 3절 딕셔너리
- {}를 이용해서 키-값의 쌍으로 구성된 자료구조
- 키는 유일한 값, 키에 리스트 불가
- 값은 중복 가능, 모든 데이터 타입 가능
- 인덱스를 이용한 참조는 지원 안함

In [132]:
dic = {'name':'홍길동',1:22, (1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [105]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [106]:
# 변수[키] / 변수.get(키)
print(my_favorite['number'])
print(my_favorite.get('number'))

12
12

In [107]:
# print(my_favorite['people']) # 키목록에 없는 데이터를 참조시 에러
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 None
print(my_favorite.get('people', '-')) # 없는 키를 get함수로 참조시 '-'

None
-

#딕셔너리에 수정,추가,삭제

In [104]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
# 한 item씩 추가
my_favorite['people'] = '홍길동'
print('people 추가후 :', my_favorite)
# 여러 item을 한꺼번에 추가
my_favorite.update({'subject':'수학', 'major':'AI'})
print('한꺼번에 추가후 :', my_favorite)

# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print('하나씩 수정 후 :', my_favorite)
# 여러 item을 한꺼번 수정
# my_favorite.update({'fruit':'kiwi', 'number':-99})
my_favorite.update(fruit='kiwi', number=-99)
print("한꺼번에 수정 후 :", my_favorite)
# item 제거(1)
del my_favorite['subject'] # subject item 제거
if 'subject' in my_favorite:
    del my_favorite['subject']
else:
    print('subject 키가 존재하지 않습니다')
print("del 제거(1) 후 :", my_favorite)
# item 제거(2)
print('제거한 데이터 :', my_favorite.pop('major')) # major키 값을 반환하고 제거
if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

people 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동'}
한꺼번에 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
subject 키가 존재하지 않습니다
del 제거(1) 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
제거한 데이터 : AI
major 키가 존재하지 않습니다
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

In [100]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [101]:
for data in my_tuple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_tuple)):
    print("{}번째 : {}".format(idx, my_tuple[idx]), end="\t")
    #print(idx,"번째 : ", my_tuple[idx], sep='', end='\t')
print() # 개행
for idx, data in enumerate(my_tuple):
    print(f"{idx}번째 : {data}", end="\t")

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [118]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-999'}

In [102]:
for key in my_dic: # 비추
    print("{} : {}".format(key, my_dic[key]), end="\t")

NameError: name 'my_dic' is not defined

In [130]:
my_dic.keys() # 키 목록

dict_keys(['name', 'age', 'tel'])

In [131]:
my_dic.values() # 값들 목록

dict_values(['홍길동', 30, '010-9999-999'])

In [129]:
my_dic.items() # 키-값 쌍 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-999')])

In [128]:
for key, value in my_dic.items():
    print("{}:{}".format(key, value), end="\t")

name:홍길동	age:30	tel:010-9999-999

In [97]:
for value in my_dic.values():
    print(value, end="\t")

NameError: name 'my_dic' is not defined

In [120]:
my_dic.items()

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-999')])

In [125]:
for key, value in my_dic.items():
    print("{}:{}".format(key, value), end="\t")

name:홍길동	age:30	tel:010-9999-999

In [133]:
print(type(my_dic))

<class 'dict'>

In [134]:
print(type(my_favorite))

<class 'dict'>

In [135]:
print(type(numbers))

<class 'tuple'>

In [136]:
print(type(city))

<class 'tuple'>

In [137]:
print(type(lst))

<class 'list'>

In [138]:
for value in my_dic

SyntaxError: expected ':' (1131124155.py, line 1)

In [141]:
 list(enumerate(my_dic.items()))
 #enumerate(my_dic.items())

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-999'))]

In [142]:
for no, (key value) in enumerate(my_dic.items())
    print("{}.{} : {}".format(no+1)")

SyntaxError: unterminated string literal (detected at line 2) (3316373768.py, line 2)

## In 연산자

In [ ]:
# tuple,list
t = (10,20,30)

30 in t #list,tuple,set에서의 in 연산자 : 요소(데이터, 아이템)가 있는지 여부 반화

In [143]:
# dic
dic = {'name': '홍길동', 'age':30}
'홍길동' in dic

False

In [144]:
'홍길동' in dic.values()

True

## 복제하기

In [1]:
my_f = {'f':'apple','num':12}
new_f = my_f

print(id(new_f), id(my_f))

2069784639104 2069784639104

In [3]:
#복제(깊은복사)
my_f['f'] = 'apple 다 좋아'
my_f['num'] = 1111
print(id(new_f), id(my_f))

2069784639104 2069784639104

In [4]:
#깊은 복사
my_f = {'f':'apple','num':12}
new_f = my_f.copy()
print(id(new_f), id(my_f))

2069816925440 2069816920576

# 4절 셋
-중복을 허용하지 않는 집합(순서 x)
-{}나 set() 함수를 이용해서 셋 생성 ex.set({1, 2, 3]}, set({'name':'홍길동'})
-집합연산자 : &교집합, |합집합, -차집합

In [ ]:
st = {'name':'홍길동', 'age':30 }
se = {'홍길동',30}

In [96]:
fruits = {'apple', 'banana', 'orange'}
fruits

{'apple', 'banana', 'orange'}

In [6]:
s1 = set((1,2,3,4,5,6,7,8,9))
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

# 추가하기
- add : 기본자료형,튜플 데이터하나 추가, list ,dic,set 유형은 add()함수 사용 불가
- uppdate : 리스트 튜플, 딕셔너릴,셋 요소를 하나씩

In [15]:
s =  {'apple' ,'banana' ,'orange'}
s.add(4)
s.add((6,7))
s.add('오')
print("add() 후 ", s)

add() 후  {'apple', 'orange', '오', 4, 'banana', (6, 7)}

In [21]:
s = {1,2,3}
s.update([4,5,6])
print("update() 후 ",s)

update() 후  {1, 2, 3, 4, 5, 6}

In [24]:
s = {1,2,3}
s.add(False)
s.add(True)
print("True add후 : ",s)

True add후 :  {False, 1, 2, 3}

## 삭제하기
    remove()

In [ ]:
# 0이 set에 있는 상테에서 False 추가
s.add(0)
print("0 add 후")

In [27]:
s = {1,2,3,1,1}
if 4 in s:
    s.remove (4)
else:
    print("해당 x")

## 집합연산자
    &(교집합), |(합집합), -(차집합)

In [30]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print("s1",s1)
print("s2",s2)
print("s1&s2", s1&s2)
print("s1|s2", s1|s2)
print("s1-s2", s1-s2)
print("s1-s2", s2-s2)

s1 {1, 2, 3, 4, 5}
s2 {3, 4, 5, 6, 7}
s1&s2 {3, 4, 5}
s1|s2 {1, 2, 3, 4, 5, 6, 7}
s1-s2 {1, 2}
s1-s2 set()

In [37]:
names= {'길동','길숙','길자'}
for name in names:
    print("name",s1)

name {1, 2, 3, 4, 5}
name {1, 2, 3, 4, 5}
name {1, 2, 3, 4, 5}

# 5절 enumerate
- 반복자: 반복문을 처리할때 사용할 순서객체를 생성하는 함수
- 리스트, 튜플,딕셔너리, 셋을 for문에 사용시

In [39]:
list(enumerate(names))

[(0, '길동'), (1, '길숙'), (2, '길자')]

In [47]:
for no, name in enumerate(names):
    print("{}. {}".format(no+1, name))

1. 길동
2. 길숙
3. 길자

In [48]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']

In [49]:
[{'name':'길동', 'tel':'02-999-9999', 'add':'서울'},
{'name':'길자', 'tel':'02-888-8888', 'add':'판교'},
{'name':'길숙', 'tel':'02-777-7777', 'add':'하남'},]

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [62]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print(f"{idx}. {name}님의 연락처는 {tel}이고, {add} 살아요")

0. 길동님의 연락처는 02-999-9999이고, 서울 살아요
1. 길자님의 연락처는 02-888-8888이고, 판교 살아요
2. 길숙님의 연락처는 02-777-7777이고, 하남 살아요

In [60]:
[{'name':'길동', 'tel':'02-999-9999', 'add':'서울'},
{'name':'길자', 'tel':'02-888-8888', 'add':'판교'},
{'name':'길숙', 'tel':'02-777-7777', 'add':'하남'},]

In [73]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-7777']
adds = ['서울', '판교', '하남']
members = [] # 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [70]:
[{'rank':1,'name':'길동', 'tel':'02-999-9999', 'add':'서울'},
{'rank':2,'name':'길자', 'tel':'02-888-8888', 'add':'판교'},
{'rank':3,'name':'길숙', 'tel':'02-777-7777', 'add':'하남'},]

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

In [72]:
members = [] # 딕셔너리 리스트
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1, 'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-7777', 'add': '하남'}]

# 6절 연습문제
## 실습형 연습문제

In [154]:
numbers = [1,2,3,4,5,6,7,8,9,10]
# 1.숫자 100을 맨뒤에 추가
numbers.append(100)
print('1번 결과 :',numbers)

# 2. 다음 리스트를 numbers 리스트 맨뒤에 추가
data = [200,300,400,500]
# numbers.extend(data)
numbers += data
print('2번 결과 :',numbers)

# 3. 처음 다섯개 숫자만 출력(0~4번 index까지)
print('3번 결과 :',numbers[:5])

# 4. 짝수번째 데이터만 출력
print('4번 결과 :', numbers[::2])
# 세명이 짝수번째를 1, 3, 5, 7, 9 index로 구현함
print(numbers[1::2])

1번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
2번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
3번 결과 : [1, 2, 3, 4, 5]
4번 결과 : [1, 3, 5, 7, 9, 100, 300, 500]
[2, 4, 6, 8, 10, 200, 400]

In [155]:
# 5. 짝수번째 데이터를 모두 0으로 바꿔
numbers[::2] = [0] * len(numbers[::2])
print('5번 후 결과 :', numbers)
# 5-1. 짝수번째 데이터를 모두 0으로 바꾸는게 아니고 출력만 하려면
print('5번 출력만 :',
      [numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))])

# 6. 데이터를 역순(sort가 아니고 단순 역순)으로 나열
print('6번 결과 :', numbers[::-1])
# numbers.reverse()
# print('6번 결과 :', numbers)

5번 후 결과 : [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
5번 출력만 : [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
6번 결과 : [0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [156]:
member = {'name':"홍길동","age":20,"address":"서울시 마포구", 'score':90}
# 7번 address값 출력
print('7번 결과 :', member['address']) # 비추
print('7번 결과 :', member.get('address')) # 추천
                # ★-------------------★ #
    
# 8 score를 출력하고 딕셔너리에서 삭제 방법1# 5. 짝수번째 데이터를 모두 0으로 바꿔
if 'score' in member:
    # print(member['score'])
    # del member['score'] del은 삭제만 되고 pop는 출력되고 삭제됨
    print('8번 score 삭제 ', member.pop('score'))
    print('8번 삭제 확인 : ', member)
else:
    print("score 키가 없습니다")
#9. address변경
member['address'] ='서울시 서대문구'
print('9번 확인 :', member)
# 10 데이터 값만 리스트로 출력
print('10번 결과 :',list(member.values()))

7번 결과 : 서울시 마포구
7번 결과 : 서울시 마포구
8번 score 삭제  90
8번 삭제 확인 :  {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}
9번 확인 : {'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}
10번 결과 : ['홍길동', 20, '서울시 서대문구']

In [147]:
#서술형 연습문제

[2, 4, 6, 8, 10]

In [157]:
# 1 다음 코드를 실행했을 때 출력되는 것은?
L1 = ("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(i)>5] # 리스트컴프리헨션
print(new_list)

['orange', 'banana']

In [159]:
# 2다음 코드와 실행결과가 잘못 짝지어진 것은? (3)
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [160]:
# 3. 다음 구문에 의해 출력되는 것은? 1
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

1

In [161]:
# 4 extend
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
      #────────#
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [162]:
# 5. 다음 구문을 실행할 때 결과는 ? [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]
numbers = list(range(10))
numbers[ : : 2]= [0] * len(numbers[ : : 2])
                #─────────────────────────#
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [163]:
# 6. 다음 구문을 실행할 때 결과는 ?
numbers = [0,1,2,3,4,5,6,7,8,9]
                    #─────────#
numbers[ : : 2]= numbers[5:]
print(numbers)

[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [164]:
# 7. 다음 구문을 실행할 때 결과는 ?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[ : : 2]= numbers[:5]
print(numbers)

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [165]:
# 8. 다음 데이터에서 10을 출력할 수 없는 구문은? (1) (1)
my_dic = {"a":10, "b":20, "c":30}
print(my_dic['a']) # (2)
print(list(my_dic.items())[0][1]) # (3)
print(list(my_dic.values())[0]) # (4)
print(my_dic.get('a')) # (5)

10
10
10
10

In [ ]:
# 9. 다음 프로그램의 결과를 출력하시오
fruits = [ 'apple', 'banana', 'orange']
x, y, z = fruits
print(x) 
print(y) 
print(z)

In [166]:
# 10. 다음 프로그램의 결과를 출력하시오
fruits = ['apple','banana','orange']
print(len(fruits))

3

In [167]:
# 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는? def

![변수타입들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
    style="float:left"
    width="500">