In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

<b><font size="7" color="red">ch11. 데이터프레임과 시리즈(Pandas)</font></b>
###1절 판다스 패키지
- 데이터 분석을 위해 반드시 알아야 할 패키지 넘파이를 기반으로 하며,
  다른 많은 라이브러리와 잘 통합되도록 설계
  
- 2차원 구조를 갖는 테이터프레임, 1차원 구조를 갖는 시리즈를 갖는 제공

- 판다스 장점 : 데이터프레임 생성, 파일io, 레이블링, 부분데이터 추출,
        크기변경(행이나 열 삽입, 삭제), 데이터 분할, 데이터 구조변경, 결측치 처리
        
•https://pypi.python.org/pypi/pandas(package index)
•http://pandas.pydata.org/pandas-docs/stable/api.html(API reference)

In [5]:
import pandas as pd
pd.__version__

'1.5.3'

In [14]:
data = pd.read_json('data/ch09_member4.json', encoding='cp949')
#print(data)
display(data)

  name  Age        Email Address
0  홍길동   30  hg@hong.com      서울
1  박길동   20  pg@hong.com      부산
2  신길동   25  sg@hong.com      대전

In [19]:
    member1 = pd.read_csv('data/ch09_member1.csv', header=None,
                           names=['name','Age','Email','Address'])
    member1

  name  Age             Email  Address
0  신길동   30  sindong@hong.com  서울시 관악구
1  홍길동   20  sindong@hong.com  서울시 관악구
2  박길동   25  sindong@hong.com  서울시 관악구

# 2절 데이터프레임 만들기
## 2.1 딕셔너리 리스트를 이용해서 데이터프레임 만들기

In [21]:
d = [{'kor':100,'mat':95},{'kor':90,'mat':99}]
df = pd.DataFrame(data = d)
df

   kor  mat
0  100   95
1   90   99

In [22]:
df.to_dict() #데이터프레임을 딕셔너리로

{'kor': {0: 100, 1: 90}, 'mat': {0: 95, 1: 99}}

In [24]:
df.to_numpy()
df.values

array([[100,  95],
       [ 90,  99]], dtype=int64)

In [25]:
df.dtypes = #열의 타입

kor    int64
mat    int64
dtype: object

In [26]:
df.info() #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     2 non-null      int64
 1   mat     2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes

In [28]:
df['kor'].dtype

dtype('int64')

In [30]:
import pandas as pd
df['kor'].astype(np.float64)
df['kor'] = df['kor'].astype('float64')

NameError: name 'np' is not defined

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     2 non-null      int64
 1   mat     2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes

In [35]:
d = [{'kor':100,'mat':95},{'kor':90,'mat':99},{'kor':90,'eng':99}]
df = pd.DataFrame(data = d)
df

   kor   mat   eng
0  100  95.0   NaN
1   90  99.0   NaN
2   90   NaN  99.0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     3 non-null      int64
 1   mat     2 non-null      float64
 2   eng     1 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes

In [39]:
df['kor'] =  df['kor']

NameError: name 'np' is not defined

In [ ]:
# 결측치는 int로 형변환 불가(결측치를 대체값으로 치환 후 변환)
# df['mat'] = df['mat'].astype('int32')

## 2.2 리스트를 이용해서 데이터프레임 만들기

In [ ]:
kor = [10,90,90,65]
mat = [10,90,90,65]

In [44]:
array([[100, 99],
       [80, 99],
       [80, 99],
       [90, 99]])

NameError: name 'array' is not defined

In [45]:
df.shape()

TypeError: 'tuple' object is not callable

In [47]:
l = [['트랜드 코리아2026', '김난도', 1800,10],
     ['사탄 탱고', '라슬로', 18800,10],
     ['미술관여행자', '탱고', '라슬로', 27000,10]]

In [48]:
#ls : 파이선 매직 명령서
#dir : 쉘명령어

In [50]:
#ls "d:/ai/downloadd/shareData/상가정보/"
"ai\source\01_python\data\상가정보"
%ls "C:\ai\source\01_python\data\상가정보"

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: A014-DCD6

 C:\ai\source\01_python\data\상가정보 디렉터리

2025-10-12  오후 03:33    <DIR>          .
2025-10-12  오후 03:33    <DIR>          ..
2025-04-27  오후 11:07             1,011 [필독]파일열람방법.txt
2025-04-27  오후 11:07        61,227,944 소상공인시장진흥공단_상가(상권)정보_강원_202503.csv
2025-04-27  오후 11:07       356,572,082 소상공인시장진흥공단_상가(상권)정보_경기_202503.csv
2025-04-27  오후 11:07        93,472,559 소상공인시장진흥공단_상가(상권)정보_경남_202503.csv
2025-04-27  오후 11:07        76,425,275 소상공인시장진흥공단_상가(상권)정보_경북_202503.csv
2025-04-27  오후 11:07        40,070,868 소상공인시장진흥공단_상가(상권)정보_광주_202503.csv
2025-04-27  오후 11:07        61,715,005 소상공인시장진흥공단_상가(상권)정보_대구_202503.csv
2025-04-27  오후 11:07        41,491,092 소상공인시장진흥공단_상가(상권)정보_대전_202503.csv
2025-04-27  오후 11:07        84,550,600 소상공인시장진흥공단_상가(상권)정보_부산_202503.csv
2025-04-27  오후 11:07       294,549,483 소상공인시장진흥공단_상가(상권)정보_서울_202503.csv
2025-04-27  오후 11:07         9,303,432 소상공인시장진흥공단_상가(상권)정보_세종_202503.csv
2025-04-27  오후 11:07        28,457,489 소상공인시장진흥공단_상가(상권)정보_울산_202503.csv
2025-04-27  오후 11:07        73,022,149 소상공인시장진흥공단_상가(상권)정보_인천_202503.csv
2025-04-27  오후 11:07        52,997,974 소상공인시장진흥공단_상가(상권)정보_전남_202503.csv
2025-04-27  오후 11:07        56,252,705 소상공인시장진흥공단_상가(상권)정보_전북_202503.csv
2025-04-27  오후 11:07        32,943,677 소상공인시장진흥공단_상가(상권)정보_제주_202503.csv
2025-04-27  오후 11:07        66,591,896 소상공인시장진흥공단_상가(상권)정보_충남_202503.csv
2025-04-27  오후 11:07        50,727,673 소상공인시장진흥공단_상가(상권)정보_충북_202503.csv
              18개 파일       1,480,372,914 바이트
               2개 디렉터리  164,297,228,288 바이트 남음

In [66]:
%ls ("C:\ai\source\01_python\data\상가정보\소상공인시장진흥공단_상가(상권)정보_경기_202503.csv",
                   encoding='utf-8', sep=',', nrows=70)

IndentationError: unexpected indent (4103556957.py, line 2)

In [67]:
#판닷에도 디스플레이 옵션
pd.options.display.max_columns = 39
pd.options.display.max_rows = 70

In [68]:
df.head(1).T

         0
kor  100.0
mat   95.0
eng    NaN

## 2.3 read_csv

In [70]:
pd.read_csv?

In [77]:
#(1) csv 파일 불러오기(기본값)
import pandas as pd
member = pd.read_csv(data/ch11_member.csv',)
member.info()

SyntaxError: unterminated string literal (detected at line 3) (1510415224.py, line 3)